<head>
    <title>
        {$title|default=''}-{$config.app_name}
    </title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=0.4">
    <link rel="shortcut icon" href="{$config.site_icon}">
    <link rel="stylesheet" href="{$cdn.font_awesome}">
    <link rel="stylesheet" href="{$cdn.layui_css}">
    <link rel="stylesheet" href="__STATIC__/theme/css/console.css">

    <!--
    引入layui.js的时候需要注意配置的问题
    如果引入的是layui.js需要使用layui.use()进行模块化加载（不包含js），
    使用layui.all.js的时候加载全部，包含jquery
    -->

    <script src="{$cdn.layui_all_js}"></script>
    <script src="{$cdn.require_js}"></script>

    <script>
        window.ROOT_URL = '__ROOT__';
        window.PATH = '{$path|default=""}';
        window.UEDITOR_HOME_URL = '{$upload.UEditor}';
    </script>
</head>
