<head>
    <title>
        {if isset($title)}
        {$title}-
        {/if}
        {$config.app_name|default=''}
    </title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--禁止页面缩放-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=0.4">-->

    <link rel="shortcut icon" href="{$config.site_icon|default=''}">

    {if isset($cdn.css) && is_array($cdn.css)}
    {foreach $cdn.css as $item}
    <link rel="stylesheet" href="{$item}">
    {/foreach}
    {/if}
    <script>
        window.ROOT_URL = '__ROOT__';
        window.PATH = '{$path|default=""}';
        window.UPLOAD_PATH = '{$upload.file|default=""}';
        window.UEDITOR_HOME_URL = '{$upload.UEditor|default=""}';
        window.cdn = stringToObject('{$cdn|json_encode}');
        window.category_tree_list = ['title', 'name'];

        /**
         * 字符串转化为对象
         */
        function stringToObject(string) {
            if (typeof string === "string") {
                try {
                    string = string.replace(/[\n\r]/g, '', string);
                    let result = JSON.parse(string);
                    if (typeof result === "object") {
                        return result;
                    }
                } catch (e) {
                    console.log(string);
                    console.log('字符串转化为对象失败');
                }
            }
        }

        /**
         * 时间转化为unix时间
         */
        function dateToUnix(string) {
            let f = string.split(' ', 2);
            let d = (f[0] ? f[0] : '').split('-', 3);
            let t = (f[1] ? f[1] : '').split(':', 3);
            return (new Date(
                parseInt(d[0], 10) || null,
                (parseInt(d[1], 10) || 1) - 1,
                parseInt(d[2], 10) || null,
                parseInt(t[0], 10) || null,
                parseInt(t[1], 10) || null,
                parseInt(t[2], 10) || null
            )).getTime() / 1000;
        }

        /**
         * unix时间戳转化为日期
         */
        function unixToDate(timestamp, format) {
            let concat = function (value) {
                value = parseInt(value);
                if (value < 10) {
                    value = '0' + value;
                }
                return value;
            };

            let date = new Date(timestamp);
            date.setTime(timestamp * 1000);
            let year = date.getFullYear();
            let month = concat(date.getMonth() + 1);
            let day = concat(date.getDate());
            let hour = concat(date.getHours());
            let min = concat(date.getMinutes());
            let sec = concat(date.getSeconds());
            date = year + '-' + month + '-' + day;
            let time = hour + ':' + min + ':' + sec;
            if (format === 'date') {
                return date;
            } else if (format === 'time') {
                return time;
            } else {
                return date + ' ' + time;
            }
        }
    </script>
</head>
