<head>
    <title>
        {if isset($title)}
        {$title}-
        {/if}
        {$config.app_name|default=''}
    </title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=0.4">
    <link rel="shortcut icon" href="{$config.site_icon|default=''}">

    {if isset($cdn.css) && is_array($cdn.css)}
    {foreach $cdn.css as $item}
    <link rel="stylesheet" href="{$item}">
    {/foreach}
    {/if}
    <script>
        window.ROOT_URL = '__ROOT__';
        window.PATH = '{$path|default=""}';
        window.UPLOAD_PATH = '{$upload.file|default=""}';
        window.UEDITOR_HOME_URL = '{$upload.UEditor|default=""}';
        window.cdn = stringToObject('{$cdn|json_encode}');

        /**
         * 字符串转化为对象
         */
        function stringToObject(string) {
            if (typeof string === "string") {
                try {
                    let result = JSON.parse(string);
                    if (typeof result === "object") {
                        return result;
                    }
                } catch (e) {
                    console.log('字符串转化为对象失败');
                }
            }
        }
    </script>
</head>
