<div class="layui-side layui-bg-black notselect">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree layui-nav-tree-top">
            <li class="layui-nav-item" lay-unselect><a class="text-center" data-target-menu-type><i
                    class="layui-icon layui-icon-spread-left"></i></a></li>
        </ul>
        {foreach $left as $item}
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a data-target-tips="{$item.title}" style="background:#393D49">
                    <span class='nav-icon layui-hide {$item.icon|default="layui-icon layui-icon-triangle-d"}'></span>
                    <span class="nav-text padding-left-5">
                             <i class="{$item.icon}"></i>
                            {$item.title}
                        </span>
                    <span class="layui-nav-more"></span>
                </a>
                {if isset($item['child'])}
                <dl class="layui-nav-child">
                    {foreach $item['child'] as $vo}
                    <dd class='{if $vo.url==$active_menu.url }layui-this{/if}'>
                        <a data-target-tips="{$vo.title}" href="/{$vo.url}">
                            <span class='nav-icon padding-left-5 {$vo.icon|default="layui-icon layui-icon-link"}'></span>
                            <span class="nav-text padding-left-5">{$vo.title}</span>
                        </a>
                    </dd>
                    {/foreach}
                </dl>
                {/if}
            </li>
            {/empty}
        </ul>
        {/foreach}
    </div>
</div>