<div class="layui-header notselect">
    <a href="{:url('@')}"
       class="layui-logo layui-elip">
        {$config.app_name}
        {if $config.app_version}
        <sup class="padding-left-5">{$config.app_version}</sup>
        {/if}
    </a>
    <ul class="layui-nav layui-layout-left">
        {foreach $top as $item}
        <li class="layui-nav-item {if in_array($item.id,$active_menu['node'])}layui-this{/if}">
            <a data-menu-node="m-{$item.id}" href="/{if $item.first}{$item.first}{else}{$item.url|default=''}{/if}">
                {notempty name='item.icon'}
                <span class='{$item.icon|} padding-right-5'></span>
                {/notempty}
                <span>{$item.title|default=''}</span>
            </a>
        </li>
        {/foreach}
    </ul>
    <ul class="layui-nav layui-layout-right">

        {/* 可以动态设置顶部导航的内容 */}
        {$set_right_top_navigation|default=''}

        {if $user}
        <li class="layui-nav-item">
            <dl class="layui-nav-child">
                <dd lay-unselect>
                    <a data-confirm="请再次确认是否清除缓存？" data-modal="{:url('clearSystemCache')}">
                        <i class="layui-icon layui-icon-fonts-clear"></i>
                        清除缓存
                    </a>
                </dd>
                <dd lay-unselect>
                    <a data-modal="{:url('admin/user/info',['id'=>$user.id])}">
                        <i class="layui-icon layui-icon-set-fill margin-right-5"></i>
                        基本资料
                    </a>
                </dd>
                <dd lay-unselect>
                    <a data-modal="{:url('admin/user/password',['id'=>$user.id])}">
                        <i class="layui-icon layui-icon-component margin-right-5"></i>
                        修改密码
                    </a>
                </dd>
                <dd lay-unselect>
                    <a data-confirm="确定要退出登录吗？" data-load="{:url('login/logout')}"><i
                            class="layui-icon layui-icon-release margin-right-5"></i>退出登录</a>
                </dd>
            </dl>
            <a>
                    <span>
                        <i class="layui-icon layui-icon-username margin-right-5"></i>
                        {$user.nickname|default=$user.username}
                    </span>
            </a>
        </li>
        {else}
        <li class="layui-nav-item">
            <a href="{:url('login/index')}">
                <i class="layui-icon layui-icon-username"></i>
                立即登录
            </a>
        </li>
        {/if}
    </ul>
</div>