{extend name='admin@base/main'}

{block name="content"}

{/* 搜索框开始 */}
{include file='admin@base/render/search'}
{/* 搜索框结束 */}

{/* 表格开始 */}
{include file="admin@base/render/table"}
{/* 表格结束 */}

{/block}

{block name="script"}

<script>
    $(function () {

        let header = {$header|json_encode};
        let list={$list|json_encode};

        let tableStyle = '{$tableStyle}';

        /**
         * 实例化渲染类
         */
        let render = new Render();
        render.params = {
            height: '{$height}',
            page: stringToObject('{$page|json_encode}'),
            list:list,
            header: header
        };

        /**
         * 更新字段请求连接
         * @type {string}
         */
        render.updateFieldUrl = "{:url('updateField')}";

        if (tableStyle === 'normal') {
            render.table();
        } else {
            render.treeTable();
        }

        /**
         * 绑定表格事件
         */
        render.tableEvent();
    })
</script>

{/block}