{if $formItems}
<caption class="margin-bottom-10 text-left">
    <fieldset>
        <legend class="layui-bg-green">条件搜索</legend>
        <form class="layui-form layui-form-pane form-search"
              action="{:url()}"
              data-download-url="{if isset($download_url)}{$download_url}{else}{:url('download')}{/if}"
              onsubmit="return false"
              method="get"
              autocomplete="off">

            {/* 搜索框开始 */}
            {include file='admin@base/render/search/template'}
            {/* 搜索框结束 */}

            <div class="layui-form-item layui-inline">

                <button type="submit" class="layui-btn layui-btn-primary">
                    <i class="layui-icon"></i> 搜 索
                </button>

                {if isset($downloadButton) && is_bool($downloadButton) && $downloadButton}
                <button type="button" class="layui-btn layui-btn-primary download">
                    <i class="layui-icon layui-icon-download-circle"></i>导 出
                </button>
                {/if}

                <button type="reset" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-refresh"></i>重 置
                </button>
            </div>
        </form>
    </fieldset>
</caption>
{/if}