<!DOCTYPE html>
<html lang="zh">

{/* 包含头部信息 */}
{include file='admin@base/header'}

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <!-- 顶部菜单 开始 -->
    {include file="admin@base/top"}
    <!-- 顶部菜单 结束 -->

    <div class="layui-card">
        <div class="layui-card-header">后台首页</div>
        <div class="layui-card-body layui-text">
            <table class="layui-table">
                <colgroup>
                    <col width="100">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>后台布局</td>
                    <td>后台布局借鉴了thinkAdmin开源的系统，做一些修改，增加了一些快捷的渲染方式</td>
                </tr>
                <tr>
                    <td>前段框架</td>
                    <td>layui</td>
                </tr>
                <tr>
                    <td>后台框架</td>
                    <td>thinkphp</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>