{extend name='base/main'}

{block name="button"}
<button data-modal='{:url("add")}' data-title="添加菜单" class='layui-btn layui-btn-sm layui-btn-primary'>添加菜单</button>

<button data-action='{:url("del")}' data-rule="id#{key}"
        class='layui-btn layui-btn-sm layui-btn-primary'>删除菜单
</button>
{/block}

{block name="content"}
<table class="layui-table" lay-skin="line">
    <thead>
    <tr>
        <th class='list-table-check-td think-checkbox'>
            <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
        </th>
        <th class='list-table-sort-td'>
            <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
        </th>
        <th class='text-center' style="width:30px"></th>
        <th style="width:180px"></th>
        <th class='layui-hide-xs' style="width:180px"></th>
        <th style="width:100px"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {foreach $data as $key=>$vo}
    <tr data-dbclick>
        <td class='list-table-check-td think-checkbox'>
            <input class="list-check-box" value='{$vo.id}' type='checkbox'>
        </td>
        <td class='list-table-sort-td'>
            <input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}"
                   data-loading="false" value="{$vo.sort}" class="list-sort-input">
        </td>
        <td class='text-center'><i class="{$vo.icon} font-s18"></i></td>
        <td class="nowrap">{$vo.title}</td>
        <td class='layui-hide-xs'>{$vo.url}</td>
        <td class='text-center nowrap'>
            {eq name='vo.status' value='0'}
            <span class="layui-badge">已禁用</span>
            {else}
            <span class="layui-badge layui-bg-green">使用中</span>
            {/eq}
        </td>
        <td class='text-center nowrap notselect'>


            <span class="text-explode">|</span>

            <a class="layui-btn layui-btn-xs layui-btn-primary" data-tips-text="添加子菜单"
               data-modal='{:url("add")}?pid={$vo.id}'>添 加</a>

            <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单"
               data-modal='{:url("admin/menu/edit")}?id={$vo.id}'>编 辑</a>

            <a class="layui-btn layui-btn-danger layui-btn-xs" data-confirm="确定要删除数据吗?" data-action="{:url('del')}"
               data-value="id#{$vo.id}">删 除</a>

        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
{/block}